:root {
    --html-color: rgb(212, 69, 59);
    --html-color-darker: rgb(163, 53, 45);
    --js-color: rgb(195, 190, 0);
    --js-color-darker: rgb(155, 147, 0);
    --json-color: rgb(168, 173, 0);
    --json-color-darker: rgb(139, 143, 0);
    --css-color: rgb(0, 120, 220);
    --css-color-darker: rgb(0, 88, 160);
    --bootstrap-color: rgb(97, 0, 200);
    --bootstrap-color-darker: rgb(76, 0, 158);
    --ai-color: rgb(215, 215, 215);
    --ai-color-darker: rgb(150, 150, 150);
    --jquery-color: rgb(59, 141, 255);
    --jquery-color-darker: rgb(59, 106, 193);
    --sql-color: rgb(0, 150, 0);
    --sql-color-darker: rgb(0, 110, 0);
    --php-color: rgb(34, 63, 255);
    --php-color-darker: rgb(23, 44, 180);
    --java-color: rgb(128, 62, 0);
    --java-color-darker: rgb(98, 47, 0);
}

.project-card {
    /* * Changed from the original 👇 * */
    aspect-ratio: 1/1;
}

.project-card-header {
    /* * Changed from the original 👇 * */
    height: 60%;

    /* * Changed from the original 👇 * */
    background-color: rgb(0, 0, 200);

    /* * Changed from the original 👇 * */
    justify-content: start;
}

.text-with-background {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    & p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(0, 0, 0, .3);
        padding: 2% 5%;
        border-radius: 4px;
        margin: 0;
    }
}

.card-header-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
    filter: blur(1px);
}

.project-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-block: 4%;

    &>* {
        width: 95%;
    }
}

.pins-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 0.5vh;
}

.clip {
    border: 3px solid #2f2f2f;
    font-size: smaller;
    padding: 2% 5%;
    background-color: #3f3f3f;
    border-radius: 20px;
    margin: 1%;
}

.clip-html {
    background-color: var(--html-color);
    border-color: var(--html-color-darker);
    color: black;
}

.clip-js {
    background-color: var(--js-color);
    border-color: var(--js-color-darker);
    color: black;
}

.clip-json {
    background-color: var(--json-color);
    border-color: var(--json-color-darker);
    color: black;
}

.clip-css {
    background-color: var(--css-color);
    border-color: var(--css-color-darker);
    color: black;
}

.clip-bootstrap {
    background-color: var(--bootstrap-color);
    border-color: var(--bootstrap-color-darker);
}

.clip-ai {
    background-color: var(--ai-color);
    border-color: var(--ai-color-darker);
    color: black;
}

.clip-jquery {
    background-color: var(--jquery-color);
    border-color: var(--jquery-color-darker);
    color: black;
}

.clip-sql {
    background-color: var(--sql-color);
    border-color: var(--sql-color-darker);
    color: black;
}

.clip-php {
    background-color: var(--php-color);
    border-color: var(--php-color-darker);
}

.clip-java {
    background-color: var(--java-color);
    border-color: var(--java-color-darker);
}

.project-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1vh;
}

.btn {
    width: 100%;
    display: block;
    color: inherit;
    padding: 4%;
    border-radius: 16px;
    background-color: #5f5f5f;
    text-align: center;

    transition: box-shadow .2s ease-out;

    & i {
        margin-right: 8px;
    }
}

.website {
    background: radial-gradient(#5f5f5f, #4f4f4f);
}

.github {
    background: radial-gradient(#222, black);
}

@media (hover: hover) and (pointer: fine) {
    .github:hover {
        box-shadow: 0 0 5px #1f1f1f, 0 0 25px #1f1f1f;
    }

    .website:hover {
        box-shadow: 0 0 5px #6f6f6f, 0 0 25px #6f6f6f;
    }
}